{{ define "form" }}
  <div id="add-form" class="flex w-full flex-col items-center">
    <form
      hx-post="/notes"
      hx-swap="outerHTML"
      hx-target="#add-form"
      class="flex w-full max-w-sm flex-col items-center gap-4"
    >
      <h2
        class="w-full text-center font-ringbearer text-2xl font-bold lowercase text-primary"
      >
        New note
      </h2>
      <p class="-mt-4 text-sm text-zinc-400">Create a new note</p>
      <input
        type="text"
        name="author"
        placeholder="Enter your name"
        autocomplete="off"
        class="w-full max-w-sm rounded-xl border-t-2 border-primary px-2 py-2 outline-none placeholder:text-sm placeholder:text-zinc-400 sm:px-3 sm:py-3 lg:focus-visible:bg-secondary lg:focus-visible:shadow-md lg:focus-visible:shadow-secondary"
      />
      <textarea
        name="message"
        placeholder="Enter your message"
        rows="3"
        autocomplete="off"
        required
        class="w-full max-w-sm resize-none overflow-y-auto rounded-xl border-t-2 border-primary px-2 py-2 outline-none placeholder:text-sm placeholder:text-zinc-400 sm:px-3 sm:py-3 lg:focus-visible:bg-secondary lg:focus-visible:shadow-md lg:focus-visible:shadow-secondary"
      ></textarea>
      <button
        type="submit"
        class="mx-auto mt-4 inline-flex w-full max-w-sm select-none items-center justify-center rounded-xl bg-primary py-4 text-[0.75em] font-black uppercase text-white outline-none active:opacity-75 disabled:opacity-75 lg:hover:opacity-75 lg:focus-visible:ring-2 lg:focus-visible:ring-primary lg:focus-visible:ring-offset-4"
      >
        Post
      </button>
    </form>
    <button
      hx-get="/notes/close_form"
      hx-target="#add-form"
      hx-swap="outerHTML"
      class="mx-auto mt-4 inline-flex w-full max-w-sm select-none items-center justify-center rounded-xl border-2 border-primary bg-white py-4 text-[0.75em] font-black uppercase text-primary outline-none active:opacity-75 disabled:opacity-75 lg:hover:opacity-75 lg:focus-visible:ring-2 lg:focus-visible:ring-primary lg:focus-visible:ring-offset-4"
    >
      Close
    </button>
  </div>
{{ end }}
