{{ define "base" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Annynotes - The world of fantasy ✨</title>
      <meta
        name="description"
        content="A board for notes and legends shared by well-known characters."
      />
      <meta property="og:image" content="/static/og-image.png" />
      <meta
        property="og:description"
        content="A board for notes and legends shared by well-known characters."
      />
      <meta property="og:title" content="Annynotes - The world of fantasy ✨" />
      <link rel="stylesheet" href="/static/index.css" />
      <link
        rel="shortcut icon"
        href="/static/favicon.ico"
        type="image/x-icon"
      />
      <script src="/static/htmx.js" type="text/javascript"></script>
    </head>
    <body class="font-sans selection:bg-primary selection:text-white">
      <div
        class="mx-auto flex w-full max-w-2xl flex-col items-center px-4 lg:px-0"
      >
        <header class="my-8 w-full">
          <h1
            class="mx-auto flex w-fit items-center justify-center font-ringbearer text-4xl font-bold text-primary"
          >
            Annynotes
            <img
              src="/static/icons/sparkles.svg"
              alt="✨"
              class="pointer-events-none mb-1.5 ml-1.5 size-[34px] select-none"
            />
          </h1>
          <p
            class="mx-auto mt-2 max-w-[16em] text-center font-ringbearer text-base text-zinc-400 sm:max-w-full"
          >
            Share a legend or leave a note for a loved one
          </p>
        </header>
        {{ template "share_button" }}
        <h2
          class="my-8 w-full text-center font-ringbearer text-2xl font-bold lowercase text-primary"
        >
          Recent notes:
        </h2>
        <ul id="notes" class="w-full">
          {{ range . }}
            {{ template "note" dict "Note" . "NoteCreated" false }}
          {{ end }}
        </ul>
      </div>
    </body>
  </html>
{{ end }}
